//Flex Box
@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

//Flex
@mixin flex($values) {
	-webkit-box-flex: $values;
	-moz-box-flex: $values;
	-webkit-flex: $values;
	-ms-flex: $values;
	flex: $values;
}

//Flex Direction
@mixin flex-direction($value) {
	@include css3-prefix('flex-direction', $value);
}

//Flex Flow
@mixin flex-flow($values) {
	@include css3-prefix('flex-flow', $values);
}

//Flex Wrap
@mixin flex-wrap($value) {
	@include css3-prefix('flex-wrap', $value);
}

//Align Content
@mixin align-content($value) {
	@include css3-prefix('align-content', $value);
}

//Align Items
@mixin align-items($value) {
	@include css3-prefix('align-items', $value);
}

//Align Self
@mixin align-self($value) {
	@include css3-prefix('align-self', $value);
}

//Flex Justify Content
@mixin justify-content($values) {
	@include css3-prefix('justify-content', $values);
}

//Flex Order
@mixin order($val) {
	-webkit-box-ordinal-group: $val;  
	-moz-box-ordinal-group: $val;     
	-ms-flex-order: $val;     
	-webkit-order: $val;  
	order: $val;
}