@import "functions";
@import "responsive";
@import "flexbox";
@import "animation";

/// Adds a browser prefix to the property
/// @param {*} $property Property
/// @param {*} $value Value
@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
   -khtml-#{$property}: #{$value};
     -moz-#{$property}: #{$value};
      -ms-#{$property}: #{$value};
       -o-#{$property}: #{$value};
          #{$property}: #{$value};
}

// Adds a browser prefix to Keyframes
@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
	    @content;
  	}
	@keyframes #{$animation-name} {
		@content;
	}
}

//Backface-Visibility
@mixin backface-visibility($value) {
	@include css3-prefix('backface-visibility', $value);
}

//Border Radius
@mixin border-radius($size) {
    @include css3-prefix('border-radius', $size);
}

//Border Radius Seperates --- Deprecated
@mixin border-radius-separate($topLeftRadius: 5px, $topRightRadius: 5px, $bottomLeftRadius: 5px, $bottomRightRadius: 5px) {
	@include border-radius($topLeftRadius $topRightRadius $bottomRightRadius $bottomLeftRadius);
}

//Box Sizing
@mixin box-sizing($value...) {
	@include css3-prefix('box-sizing', $value);
}

//Box Shadow
@mixin box-shadow($shadow-value...) {
	@include css3-prefix('box-shadow', $shadow-value);
}

//Linear gradient 
@mixin linear-gradient($direction, $color...) {
	background: nth(nth($color, 1), 1);
	background: -webkit-linear-gradient(legacy-direction($direction), $color);
    background: -moz-linear-gradient(legacy-direction($direction), $color);
    background: -ms-linear-gradient(legacy-direction($direction), $color);
    background: -o-linear-gradient(legacy-direction($direction), $color);
    background: linear-gradient($direction, $color);
}

//Mask
@mixin mask($color, $value...) {
	background: $color;
	-webkit-mask: $value;
    mask: $value;
}

//Perspective
@mixin perspective($value...) {
    @include css3-prefix('perspective', $value);
}

//Perspective Origin
@mixin perspective-origin($value...) {
    @include css3-prefix('perspective-origin', $value);
}

//Text Shadow
@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
    text-shadow: $x $y $blur $color;
}

//Transform
@mixin transform($value...) {
    @include css3-prefix('transform', $value);
}

//Transform-Origin
@mixin transform-origin($value...) {
    @include css3-prefix('transform-origin', $value);
}

//Transform-Style
@mixin transform-style($value...) {
    @include css3-prefix('transform-style', $value);
}

//Transition
@mixin transition($value...) {
    @include css3-prefix('transition', $value);
}

//Transition Delay
@mixin transition-delay($value...) {
	@include css3-prefix('transition-delay', $value);
}

//Transition Duration
@mixin transition-duration($value...) {
	@include css3-prefix('transition-duration', $value);
}

//Transition Property
@mixin transition-property($value...) {
	@include css3-prefix('transition-property', $value);
}

//Transition Timing Function
@mixin transition-timing-function($value...) {
	@include css3-prefix('transition-timing-function', $value);
}

//User Select
@mixin user-select($value) {
    @include css3-prefix('user-select', $value);
}